<article>
  <div class="change-password frame">
    <h3 class="header-change-password">Change Password</h3>
    <form id="change-password">
      <input class="input" type="password" name="passwords[old]" placeholder="old password"><br>
      <input class="input" type="password" name="passwords[new]" placeholder="new password"><br>
      <button type="submit" id="btn-three">Submit</button>
    </form>
  </div>
</article>
