<article>

<div class="wrapper launch">

<div class="image">

  <div class="file-names upload">
    <figure><a id="upload-file-link"><img src="https://maxcdn.icons8.com/Share/icon/Very_Basic//folder1600.png" alt="" class="file" /></a></figure>
    <p>Upload Files</p>
  </div>

  <div class="file-names manage">
    <figure><a id="my-files-link"><img src="https://maxcdn.icons8.com/Share/icon/Very_Basic//folder1600.png" alt="" class="file one" /></a></figure>
    <p>My Files</p>
  </div>

  <div class="file-names view">
    <figure><a id="all-files-link"><img src="https://maxcdn.icons8.com/Share/icon/Very_Basic//folder1600.png" alt="" class="file two" /></a></figure>
    <p>All Files</p>
  </div>
</div>
</div>
