<aside>{{> user-message}}</aside>
<article>
  <h2> Launch Page </h2>
  <p><small>
    Below are your options...so pick one!
  </small></p>

  <div>
    <button type="button" class="btn-lg btn-defaults" id="upload-file-link">
      Upload New File
    </button><br>
    <button type="button" class="btn-lg btn-defaults" id="my-files-link">
      Manage My Files
    </button><br>
    <button type="button" class="btn-lg btn-defaults" id="all-files-link">
      View All Files
    </button>
  </div>
</article>
