<aside>{{> user-message}}</aside>
<article>
  <div>
    <table class="file-table-one">
      <tr>
        <th>File Name</th>
        <th>Category</th>
        <th>Date Created</th>
        <th>Download</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      {{#each docs as |doc|}}
        <tr>
          <td>{{doc.title}}</td>
          <td>{{doc.category}}</td>
          <td>{{doc.filterDate}}</td>
          <td>
            <button class="download-btn btn btn-primary btn-lg" id="download-{{doc._id}}" type="button">
              <span class="glyphicon glyphicon-download-alt"></span>
            </button>
          </td>
          <td>
            <a href="#">
              <button id="update-doc-open" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#update-doc-modal">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
            </a>
          </td>
          <td>
            <a href="#">
              <form id="delete-doc-button">
                <button type="button" class="btn btn-primary btn-lg">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </form>
            </a>
          </td>
        </tr>

        <!-- Update Docs Modal -->
        <div class="modal fade" id="update-doc-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit a File</h4>
              </div>
              <div class="modal-body">
                <form id="update-doc" class="modal-form">
                  <div class="form-group">
                    <input name="docs[ID]" type="text" class="form-control" id="update-doc-id" placeholder="Enter ID of File.">
                  </div>
                  <div>
                    <input name="file[title]" type="text" class="form-control" id="update-doc-title" placeholder="Enter title of File.">
                    <!-- aria-describedby="emailHelp" <=this goes inside input tag above
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                  </div>
                  <br>
                  <div class="form-group">
                    <input name="file[category]" type="text" class="form-control" id="update-doc-category" placeholder="Enter category of File.">
                  </div>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </table>
  </div>
</article>
