<article>
  <div class="sign-up frame">
    <h3 class="header-sign-up">Sign up</h3>
    <form id="sign-up">
      <input class="input" type="text" name="credentials[email]" placeholder="email"><br>
      <input class="input" type="password" name="credentials[password]" placeholder="password"><br>
      <input class="input" type="password" name="credentials[password_confirmation]" placeholder="confirm password"><br>
      <button type="submit" id="btn-one">Submit</button>
    </form>
  </div>
</article>
