<div class="sign-in frame">

<h3 class="header-sign-in">Sign In</h3>

<form id="sign-in">
 <input class="input" type="text" name="credentials[email]" placeholder="email"><br>
 <input class="input" type="password" name="credentials[password]" placeholder="password"><br>
 <button type="submit" id="btn-two">Submit</button>
</form>
</div>
