<article>
  <p class="description">
    The Time Capsule app is a collection of user uploaded documents.
    The purpose of the app is to give users a place to upload documents
    that they deem important to the current day. Each document is tied to
    a specific category.

    Files are uploaded to AWS. Users can download the files from all users,
    but only have the ability to update and delete the files they've uploaded.
  </p>
</article>
