<article>
  <h2> Upload a File </h2>
  <p><small>
    Upload a new file for your memories!
  </small></p>

  <div>
    <form id="create-document-form" method="post" enctype="multipart/form-data">
    <fieldset>
      <legend>Create Doc</legend>
      <label>
        Title
        <input type="text" name="doc[title]">
      </label>
      <label>
        Category
        {{!-- <input type="text" name="doc[category]"> --}}
        <select id="select-category" name="doc[category]">
          <option value="" selected disabled>Select a Category...</option>
        </select>
      </label>
      <label>
        Document
        <input type="file" name="doc[file]">
      </label>
      <input type="submit" name="submit" value="Create">
    </fieldset>
  </form>
  </div>
</article>
