$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$desire: #d90429;
$background: #f0f8ff;
$black: #111;
$dark-grey: #151718;
$table-back-color: #1c1e1f;
$grey: #ccc;
$white: #fff;
$slategrey: #708090;
$green: #008000;
$td-alt-background: rgba(255, 255, 0, .2);

html,
body {
  background: $background;
  background-repeat: no-repeat;
  background-size: cover;
  display: table;
  font-family: 'Nobile', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
};

// Title and description styles
.header-text {
  animation: fade-in 2s;
  font-size: 50px;
  margin: 20px;
  padding: 20px;
  text-align: center;
};

.description {
  animation: fade-in 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  font-size: 20px;
  line-height: 30px;
  margin: 0 auto;
  opacity: 0;
  width: 80%;
};

.header-title {
  float: right;
  font-size: 50px;
  margin-top: 20px;
  text-align: center;
  width: 32%;
};

.header-user {
  float: right;
  font-size: 20px;
  margin-right: 20px;
  margin-top: 20px;
  text-align: right;
  width: 32%;
};

hr {
  border-bottom: 1px solid $black;
  margin-top: 130px;
  width: 100%;
};

// Sidebar and button styles
#sidebar {
  background: $dark-grey;
  display: block;
  height: 100%;
  left: -200px;
  position: absolute;
  top: 0;
  transition: left .3s linear;
  width: 200px;
  z-index: 1;
};

#sidebar.visible {
  left: 0;
  transition: left .3s linear;
};

ul {
  margin: 0;
  padding: 0;
};

ul li {
  list-style: none;
};

ul li a {
  background: $table-back-color;
  border-bottom: 1px solid $black;
  color: $grey;
  display: block;
  padding: 10px;
  width: 180px;
};

a {
  cursor: pointer;
};

#sidebar-btn {
  cursor: pointer;
  display: inline-block;
  height: 15px;
  margin: 20px;
  position: absolute;
  right: -60px;
  top: 0;
  vertical-align: middle;
  width: 20px;
};

// Span tag styles for the stair look
#sidebar-btn span {
  background: $black;
  display: block;
  height: 1px;
  margin-bottom: 5px;
};

#sidebar-btn span:nth-child(2) {
  width: 75%;
};

#sidebar-btn span:nth-child(3) {
  width: 50%;
};

// Authentication views and there styles

form {
  position: relative;
  transition: .5s;
};

.header-sign-up {
  text-align: center;
};

.sign-up {
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
};

.header-sign-in {
  text-align: center;
};

.sign-in {
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
};

.header-change-password {
  text-align: center;
};

.change-password {
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
};

.sign-out {
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
};

.input {
  box-sizing: border-box;
  font-family: 'Nobile', sans-serif;
  font-size: 20px;
  margin: 20px 5%;
  padding: 10px;
  width: 90%;
};

.input:focus {
  outline: none;
}
// Button styles for authentication

#btn-one {
  background: $black;
  color: $white;
  cursor: pointer;
  display: block;
  float: right;
  font-family: 'Nobile', sans-serif;
  font-size: 20px;
  margin: -9px 5%;
  padding: 10px;
  width: 90%;
};

#btn-two {
  background: $black;
  color: $white;
  cursor: pointer;
  display: block;
  float: right;
  font-family: 'Nobile', sans-serif;
  font-size: 20px;
  margin: -9px 5%;
  padding: 10px;
  width: 90%;
}

#btn-three {
  background: $black;
  color: $white;
  cursor: pointer;
  display: block;
  float: right;
  font-family: 'Nobile', sans-serif;
  font-size: 20px;
  margin: -9px 5%;
  padding: 10px;
  width: 90%;
}

// Styles for the footer

.wrapper {
  height: auto;
  padding: 20px;
  text-align: center;
};

footer {
  background-color: $slategrey;
  display: table-row;
  height: 35px;
};

// Buldge animation for on submit form fields
.buldge {
  transform: scale(1.1);
};

// Image button styling

.file {
  float: left;
  max-width: 500px;
  width: 100%;
};

file:hover {
  color: $green;
};

.file-names {
  display: inline-block;
  float: left;
  font-size: 25px;
  margin-top: -25px;
  width: 33.33%;
};



// Hide launch page styling

// File table styling

.file-table-one,
.file-table-two {
  height: 335px;
  margin: 0 auto;
  overflow: auto;
  width: 80%;
};

table,
th,
td {
  background-color: $slategrey;
  border: 2px solid $black;
  border-collapse: collapse;
  margin: 30px auto;
  padding: 5px;
};

tr {
  color: $black;
  text-align: center;
};

th {
  background-color: $black;
  color: $white;
  text-align: center;
};

caption {
  font-size: 30px;
  margin: 20px;
};

.upload-file {
  background-color: $slategrey;
  margin: 0 auto;
  max-width: 80%;
  text-align: center;
  width: 500px;
};

// START FILTER STYLES
.filter-table .quick {
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  width: 80%;
};

p.filter-table {
  padding-bottom: 10px;
  padding-left: 150px;
  padding-right: 10px;
};

input[type=search] {
  padding-left: 5px;
};

td.alt {
  background-color: $td-alt-background;
};

.hidden-text {
  display: none;
};
// END FILTER STYLES

@media (min-width: 500px) {
  .file-names {
    float: none;
  	width: 18.33%;
  }

  .description {
  	line-height: 40px;
  	margin-top: 80px;
    width: 50%;
  }
};

@keyframes fade-in {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.user-message {
  color: $desire;
  font-weight: bold;
  margin: 0 auto;
  max-width: 36%;
  text-align: center;
};
