$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

html, body {
	margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: table;
	font-family: 'Nobile', sans-serif;
  background: #F0F8FF;
  background-size: cover;
  background-repeat: no-repeat;
}

// Title and description styles
h1 {
  margin: 20px;
  font-size: 50px;
  text-align: center;
  border-bottom: 1px solid #111;
}

h3 {
  margin: 20px;
  font-size: 20px;
  text-align: center;
}

.header-title {
  margin-top: 20px;
  font-size: 50px;
  float: right;
  text-align: center;
  width: 32%;
};

.header-user {
  margin-top: 20px;
  margin-right: 20px;
  font-size: 20px;
  float: right;
  text-align: right;
  width: 32%;
};

hr {
  margin-top: 130px;
  border-bottom: 1px solid #111;
};

// Sidebar and button styles
#sidebar {
  background: #151718;
  width: 200px;
  height: 100%;
  display: block;
  position: absolute;
  left: -200px;
  top: 0px;
  transition: left 0.3s linear;
  z-index: 1;
}

#sidebar.visible {
  left: 0px;
  transition: left 0.3s linear;
}

ul {
  margin: 0px;
  padding: 0px;
}

ul li {
  list-style: none;
}

ul li a {
  background: #1C1E1F;
  color: #CCC;
  border-bottom: 1px solid #111;
  display: block;
  width: 180px;
  padding: 10px;
}

a {
	cursor: pointer;
};

#sidebar-btn {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 15px;
  cursor: pointer;
  margin: 20px;
  position: absolute;
  top: 0px;
  right: -60px;
}

// Span tag styles for the stair look
#sidebar-btn span {
  height: 1px;
  background: #111;
  margin-bottom: 5px;
  display: block;
}

#sidebar-btn span:nth-child(2){
  width: 75%;
}

#sidebar-btn span:nth-child(3){
  width: 50%;
}

// Authentication views and there styles

form {
  position: relative;
  transition: .5s;
}

.header-sign-up {
  text-align: center;
}

.sign-up {
// display: none;
width: 100%;
max-width: 400px;
margin: 0 auto;
}

.header-sign-in {
  text-align: center;
}

.sign-in {
  // display: none;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.header-change-password {
  text-align: center;
}

.change-password {
  // display: none;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.sign-out {
  // display: none;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.input {
  margin: 20px 5%;
  padding: 10px;
  width: 90%;
  font-size: 20px;
  font-family: 'Nobile', sans-serif;
  box-sizing: border-box;
}

.input:focus {
  outline: none;
}
// Button styles for authentication

#btn-one {
    background: black;
    color: white;
    display: block;
    width: 90%;
    float: right;
    margin: -9px 5%;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Nobile', sans-serif;
}

#btn-two {
  background: black;
  color: white;
  display: block;
  width: 90%;
  float: right;
  margin: -9px 5%;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Nobile', sans-serif;
}

#btn-three {
  background: black;
  color: white;
  display: block;
  width: 90%;
  float: right;
  margin: -9px 5%;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Nobile', sans-serif;
}

// Styles for the footer

.wrapper {
  padding: 20px;
  height: auto;
  text-align: center;
}

footer {
  background-color: slategrey;
  display: table-row;
  height: 35px;
}

// Buldge animation for on submit form fields
.buldge {
  transform: scale(1.1);
}

// Image button styling

.file {
  width: 100%;
  max-width: 500px;
  float: left;
}

file:hover {
  color: green;
}

.file-names {
  display: inline-block;
  float: left;
  width: 33.33%;
  font-size: 25px;
  margin-top: -25px;
}



// Hide launch page styling

// File table styling

.file-table-one, .file-table-two  {
    width: 80%;
    margin: 0 auto;
    height: 335px;
    overflow: auto;
}

table, th, td {
  margin: 30px auto;
  background-color: slategrey;
  border: 2px solid black;
  border-collapse: collapse;
}

tr {
  color: black;
  text-align: center
}

th {
  background-color: black;
  color: white;
	text-align: center;
}

caption {
  margin: 20px;
  font-size: 30px;
}

.upload-file {
  max-width: 80%;
  width: 500px;
  margin: 0 auto;
  text-align: center;
  background-color: slategrey;
}

@media (max-width: 400px) {
  .file-names {
    width: 33.33%;
    float: none;
  }
}
