$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

button {
  margin: 10px;
};

form {
  border: 1px solid black;
  padding: 5px;
  margin: 10px;
};
